<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="HerdAgentInstaller" Language="1033" Version="!(bind.FileVersion.HerdAgentEXE)" Manufacturer="SimionSoft"
           UpgradeCode="a83452d9-7e16-46c7-8711-c53ca3c8e2e9">
		<Package InstallerVersion="300" Compressed="yes" InstallScope="perMachine" />

    <Icon Id="HerdAgentIcon" SourceFile="..\..\..\..\Tools\HerdAgent\herdagent.ico"/>
    <Property Id="ARPPRODUCTICON" Value="HerdAgentIcon" />
    
    
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="HerdAgentInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="HerdAgent">
          <Directory Id="TempFolder" Name="temp"/>
        </Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="Herd">
        <File Id='HerdDLL' Name='Herd.dll' DiskId='1' Source='..\..\..\..\bin\Herd.dll'  KeyPath='yes'/>
      </Component>
			<Component Id="HerdAgent">
        <File Id='HerdAgentEXE' Name='HerdAgent.exe' DiskId='1' Source='..\..\..\..\bin\HerdAgent.exe'  KeyPath='yes'/>
        <ServiceInstall Id="ServiceInstaller" Type="ownProcess" Name="HerdAgent"
          DisplayName="HerdAgent"
          Description="SimionZoo distributed execution agent"
          Start="auto"
          Account="[SERVICEACCOUNT]"
          Password="[SERVICEPASSWORD]"
          ErrorControl="normal"/>  
        <ServiceControl Id="StartService" Start="install" Stop="both" Remove="uninstall" Name="HerdAgent" Wait="yes" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
